<%- include('../partials/main') %>

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- New User start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body title-header option-title">
                                            <h5 style="font-size: calc(20px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));">Add New Doctor</h5>
                                        </div>
                                    </div>
                                    
                                    <form class="theme-form theme-form-2 mega-form" action="/admin/doctor/update/<%= doctor._id %>" method="post" enctype="multipart/form-data">
                                        <input class="form-control" type="hidden" name="token" value="<%= doctor.token %>" required>
                                        <div class="card" >
                                            <div class="card-body">
                                                <div class="card-header-2">
                                                    <h5>Personal Information </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">First Name</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="first_name" value="<%= doctor.first_name %>" required>
                                                        </div >
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Last Name</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="last_name" value="<%= doctor.last_name %>" required>
                                                        </div >
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Email
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="email" name="email" value="<%= doctor.email %>" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Phone
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="phone" value="<%= doctor.phone %>" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">City
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="city" value="<%= doctor.city %>" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">State
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="state" value="<%= doctor.state %>" required>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Gender
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="gender" value="<%= doctor.gender %>" required>
                                                        </div>
                                                    </div>

                                                    <div class="my-4 row align-items-center">
                                                        <label class="col-sm-3 col-form-label form-label-title">Customer Image</label>
                                                        <div class="custom-file">
                                                            <input type="file" name="doctor_image" id="customFileEg1" class="form-control form-choose"
                                                                    accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                                                    oninvalid="document.getElementById('en-link').click()">
                                                            <div class="custom-file">
                                                                <div class="text-center">
                                                                    <img style="height: 200px;border: 1px solid;border-radius: 10px;width: 50%;margin-top:2rem" id="viewer" src="/images/<%= doctor.profile %>" alt="image" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="card" >
                                            <div class="card-body">
                                                <div class="card-header-2">
                                                    <h5>Detailed Information </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Service</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="service" value="<%= doctor.service %>" required>
                                                        </div >
                                                    </div>
                                                    
                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Specialist</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="specialist" value="<%= doctor.specialist %>" required>
                                                        </div >
                                                    </div>

                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="form-label-title col-lg-3 col-md-3 mb-0">Experience</label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" value="<%= doctor.experience %>" name="experience" required>
                                                        </div>
                                                    </div>


                                                    <div class="mb-4 row align-items-center">
                                                        <label
                                                            class="col-lg-3 col-md-3 col-form-label form-label-title">Charges
                                                        </label>
                                                        <div class="col-md-9 col-lg-9">
                                                            <input class="form-control" type="text" name="charges" value="<%= doctor.charges %>" required>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                        <div class="card">
                                            <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <button class="btn btn-solid" type="submit">Update Doctor</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New User End -->

                <!-- footer start -->
                    <%- include('../partials/footer')%>
                <!-- footer end -->
            </div>
            <!-- Container-fluid end -->

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                
            <script>
                function readURL(input, viewer_id) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
            
                        reader.onload = function (e) {
                            $('#'+viewer_id).attr('src', e.target.result);
                        }
            
                        reader.readAsDataURL(input.files[0]);
                    }
                }
            
                $("#customFileEg1").change(function () {
                    readURL(this, 'viewer');
                });
                $("#customFileEg2").change(function () {
                    readURL(this, 'viewer2');
                });
            </script>

<%- include('../partials/end')%>